streamlit
openai
python-dotenv
langchain
langchain-community
langchain-core
langchain-chroma
langchain-upstage
chromadb
sentence-transformers==2.2.2
huggingface_hub==0.16.4
torch==1.13.1
transformers==4.30.2